@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

textarea {
    resize: none;
}

.button {
    @apply text-white py-2 px-5 rounded uppercase;
}

.button-success {
    @apply bg-green-700;
}

.button-info {
    @apply bg-blue-700;
}

.button-danger {
    @apply bg-red-700;
}

.input {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight;
}

.input:focus {
    @apply outline-none bg-white border-gray-500;
}

.input-group {
    @apply mb-5;
}

.error {
    @apply text-red-500 font-semibold;
}
